<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppsFlyerAppleID</key>
	<string>1489011616</string>
	<key>AppsFlyerDevID</key>
	<string>4pt9EoD9LBbdtkeP8Rxad8</string>
	<key>JpushAppID</key>
	<string>beb2246ce823ef4b95115320</string>
</dict>
</plist>
