<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930656381843-lr35jkfearlgbk88ek9sjratqpd31iav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930656381843-lr35jkfearlgbk88ek9sjratqpd31iav</string>
	<key>API_KEY</key>
	<string>AIzaSyCH6kMhhfyaIpUdL9JSzcTLCisaKh_uTfw</string>
	<key>GCM_SENDER_ID</key>
	<string>930656381843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coli.ColiSDKRunner</string>
	<key>PROJECT_ID</key>
	<string>dzproj-60eff</string>
	<key>STORAGE_BUCKET</key>
	<string>dzproj-60eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930656381843:ios:2e8bde19ebd7f98b9a9666</string>
	<key>DATABASE_URL</key>
	<string>https://dzproj-60eff.firebaseio.com</string>
</dict>
</plist>